{{- if eq .machine "work" }}
[user]
	name = David Oduneye
	email = david.oduneye@klaviyo.com

[includeIf "gitdir:~/personal/"]
	path = ~/.gitconfig-personal
{{- else }}
[user]
	name = DOOduneye
	email = davidoduneye1@gmail.com

[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig-work
{{- end }}

[init]
	defaultBranch = main

[core]
	excludesfile = ~/.gitignore_global

[push]
	default = simple
	autoSetupRemote = true

[pull]
	rebase = true

[branch]
	autoSetupMerge = simple

[diff]
	external = difft

[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
